.label{
	
}


.root{
	-fx-padding:10px;
	-fx-background-color:peachpuff;
	-fx-alignment : center;
	-fx-spacing: 15px;
	
}

.button {
    -fx-text-fill: white;
    -fx-background-color: black; 
}

.button:hover{
	  -fx-text-fill: black;
    -fx-background-color: white; 
}
