

.root{
	-fx-background-color:peachpuff;
	-fx-alignment : center;
}

.button {
    -fx-text-fill: white;
    -fx-background-color: black; 
}

.button:hover{
	  -fx-text-fill: black;
    -fx-background-color: white; 
}
